<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refugees in Europe</title><link rel="stylesheet" href="./stylesheets/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

  <div id="canvas-wrap">
    <div id='time'>Loading...</div>
    <div id="legend" class="hide">
      <div><span class="dot">&middot;</span> <span id="people-per-point">25</span> people</div>
      <div><span class="asylum bar">&nbsp;</span> Asylum applications</div>
      <div><span class="refugee bar">&nbsp;</span> Registered refugees</div>
    </div>
  </div>

  <script src="js/bundle.js"></script>
</body>

</html>
