
@charset 'UTF-8';

@import "../../node_modules/lucify-commons/src/scss/styles-full.scss";


// #description {
//   padding: 2rem 1rem;
//   max-width: 600px;
// }

// #canvas-wrap {
//   //border: 1px solid black;
//   //height: 400px;
//   //width: 400px;
//   //min-height: 400px;
//   position: relative;
// }

// #canvas-wrap svg {
//   position: absolute;
//   //border: 1px dashed white;
// }

// #canvas-wrap canvas {
//   position: absolute;
//   //background-color: green;
//   //opacity: 0.5
// }


.time {
  position: absolute;
  font-family: monospace;
  top: 1rem;
  right: 1rem;
  text-transform: uppercase;
  font-size: 32px;
  color: $lucify-cyan;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 0.5rem;
  z-index: 1;
}


@import "refugee-map.scss";
@import "refugee-map-borders-layer.scss";
@import "refugee-map-country-counts-layer.scss";
@import "refugee-map-country-labels-layer.scss";
@import "refugee-map-count-bars-layer.scss";
@import "refugee-map-controls-and-legend.scss";

