
@charset 'UTF-8';
@import "bourbon";

@import "variables.scss";


//* {
//	box-sizing: border-box;
//}

#canvas-wrap {
  //border: 1px solid black;
  //height: 400px;
  //width: 400px;
  //min-height: 400px;
  position: relative;
}

body {
  background-color: $lucify-dark-blue;
  margin: 0px;
  color: #cccccc;
  font: 12pt/16pt "Open Sans", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1px;
}

strong {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

a {
  color: #dddddd;
}

a:hover {
  color: #ffffff;
}

#description {
  padding: 2rem 1rem;
  max-width: 600px;
}

#canvas-wrap svg {
  position: absolute;
  //border: 1px dashed white;
}

#canvas-wrap canvas {
  position: absolute;
  //background-color: green;
  //opacity: 0.5
}

#time {
  position: absolute;
  font-family: monospace;
  top: 1rem;
  right: 1rem;
  text-transform: uppercase;
  font-size: 32px;
  color: $lucify-cyan;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 0.5rem;
  z-index: 1;
}

#legend {
  position: absolute;
  top: 12rem;
  right: 1rem;
  width: 260px;
  font-family: monospace;
  font-size: 16px;
  color: $lucify-cyan;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 0.5rem;
  z-index: 1;
  line-height: 1.5rem;
}

.dot {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 8px;
  color: #FFFFFF;
  vertical-align: middle;
}

.bar {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  font-size: 10px;
  width: 5px;
  height: 14px;
}

.asylum {
  background-color: #FFFFFF;
}

.refugee {
  background-color: #FFAD33;
}

#speed {
  position: absolute;
  top: 18.5rem;
  right: 1rem;
  width: 260px;
  font-family: monospace;
  font-size: 16px;
  color: $lucify-cyan;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 0.5rem;
  z-index: 1;
}

#speed-control {
  width: 75%;
}

.hide {
  display: none;
}


svg .subunit {
  fill: $lucify-very-dark-blue;
  stroke-width: 1px;
  stroke: $lucify-cyan;
  opacity: 1.0;
}


svg .subunit-invisible {
  fill: transparent;
  stroke: transparent;
}


svg .country-label {
  fill: #ffffff;
  opacity: 0.9;
  font-family: $lucify-header-font;
  text-anchor: middle;
  font-size: 12px;
}

svg .country-label.destination {
  fill: #C9F0CE;
}

svg .country-label.origin {
  fill: #FFC4D8;
}

svg .country-count {
    fill: #ffffff;
    opacity: 0.0;
    font-family: $lucify-header-font;
    text-anchor: middle;
    font-size: 12px
}

svg .country-count--visible {
  opacity: 0.9;
}



