

.refugee-map-time-layer {
   width: 100%;
  //display: table;
  //background-color: rgba(25, 25, 25, 0.25);
  background-color: rgba(36, 44, 57, 0.4);
  height: 100px;
  z-index: 1;
  position: relative;
}


