

.refugee-sankey-segment__sankey {
	margin-top: 0rem;
	margin-bottom: 3rem;
}


.refugee-sankey-segment {

	.nice-form-row__input-value {
		padding-left: 0rem;
		min-width: 4.25rem;
		text-align: right;
	}

	.inputs {
		.divided-cols--stacked__parent {	
			.refugee-sankey-segment__instructions {
				display: none;
			}
			margin-bottom: -1rem;
		}
	}
}




.refugee-sankey-segment__metadata {
	margin-top: 0rem;
	margin-bottom: 0rem;

	.divided-cols__parent {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.divided-cols--narrow__parent {
		@extend .divided-cols__parent;
	}

	.divided-cols--stacked__parent {
		margin-top: 1.0rem;
		margin-bottom: 1.0rem;
	}

	.divided-cols__first {
		vertical-align: middle;
	}

	.divided-cols__second {
		 vertical-align: middle;
		 border-left: 0px dotted #c8cacc;
	}

	.divided-cols--stacked__first {
		margin-bottom: 0.4rem;
	}
}




.refugee-sankey-segment__time-title {
	@include lucify-header-font();
	font-size: 1.0rem;
}

.refugee-sankey-segment__missing-countries p {
	@include lucify-medium-paragraph();
	font-size: 0.9rem;
	max-width: 90%;
}

