

.refugee-sankey-segment__sankey {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.refugee-sankey-segment {

	.nice-form-row__input-value {
		padding-left: 0rem;
		min-width: 4.25rem;
		text-align: right;
	}
	//.nice-form-row__input {
	//	padding-left: 0rem;	
	//}
}

