
.refugee-map-borders-layer {

	.subunit {
	  fill: $lucify-very-dark-blue;
	  stroke-width: 1px;
	  //stroke: $lucify-cyan;
	  stroke: rgba($lucify-cyan, 0.40);
	  opacity: 0.99;
	}

	.subunit--overlay {
	  stroke-width: 1px;
	  //stroke: $lucify-cyan;
	  stroke: rgba($lucify-cyan, 0.40);

	  fill: rgba(26, 32, 43, 0.99);
	  transition: fill 0.4s ease-in-out;
	  opacity: 0.99;
	}

	.subunit--destination {
	  opacity: 0.5;
	  fill: rgba(95, 196, 114, 0.25);
	}

	.subunit--origin {
	  //opacity: 1.0;
	  //fill: rgba(190, 88, 179, 0.15);
	}

	.subunit--hovered {
	  fill: rgba(255, 255, 255, 0.10);
	}

	.subunit-invisible {
	  fill: transparent;
	  stroke: transparent;
	}

}