

.refugee-map-line-chart {
  .c3-xgrid-line {
    text {
      fill: white;
      font-weight: bold;
      font-size: 12px;
    }

    line {
      stroke: white;
    }
  }
}

.refugee-map-line-chart__missing-data {
  position: absolute;
  left: 1em;
  top: 0.5em;
  z-index: 2;
  color: white;
  font-size: 14px;
  padding-right: 4em; // don't go on top of the time chart at small screen sizes
}

