

@mixin refugee-sankey-highlight-link() {
	//stroke: $lucify-dark-blue;
	stroke-opacity: 0.7;
}


.refugee-sankey {

	.node rect {
	  
	  //stroke-width: 1px;
	  //stroke: $lucify-dark-blue;
	  	
	  fill-opacity: 0.75;
	  fill: $lucify-muted-blue;

	  shape-rendering: crispEdges;
	}

	.node text {
	  font-size: 13px;
	  pointer-events: none;
	  text-shadow: 0 1px 0 #fff;
	
	  .countryName {
	  	//font-weight: bold;
	  }

	  .value {
	  	fill: $lucify-gray-text-color;
	  }
	}

	.node rect:hover {
		//fill: $lucify-dark-blue;
		fill-opacity: 1.0;
	}
	
	.link {
	  fill: none;
	  stroke: $lucify-dark-blue;
	  stroke-opacity: .30;
	  transition: stroke 0.4s ease-in-out;
	  transition: stroke-opacity 0.4s ease-in-out;
	}

	.link--unselected {
		stroke-opacity: 0.15;
	}

	.link--hovered {
		@include refugee-sankey-highlight-link();
	}

	.link:hover {
		@include refugee-sankey-highlight-link();
	}
	

}

