

.refugee-sankey-segment__sankey {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.refugee-sankey-segment {

	.nice-form-row__input-value {
		padding-left: 0rem;
		min-width: 4.25rem;
		text-align: right;
	}
	//.nice-form-row__input {
	//	padding-left: 0rem;
	//}
}

.refugee-sankey-segment__metadata {
	margin-top: 2rem;
	margin-bottom: 1rem;

	.divided-cols__parent {
		//max-width: 20rem;
	}

	.divided-cols__first {
		vertical-align: middle;
	}

	.divided-cols__second {
		 vertical-align: middle;
		 border-left: 0px dotted #c8cacc;
	}
}

.refugee-sankey-segment__time-title {
	@include lucify-header-font();
	font-size: 1.0rem;
}

.refugee-sankey-segment__missing-countries p {
	@include lucify-medium-paragraph();
	font-size: 0.9rem;
	max-width: 90%;
}
