

$lucify-appbar-breakpoint: 500px;

$lucify-header-font: 'Montserrat', sans-serif;
$lucify-body-font: 'Open Sans', sans-serif;


$appbar-offset: 94px;


$font-color-primary: black;
$font-color-secondary: rgba(0, 0, 0, 0.71);

$lucify-light-gray: #f1f1f2;
$lucify-gray: #E4E7EA;
$lucify-dark-gray: #231f20;


$lucify-gradient-alpha: 0.85;
$lucify-alpha-gradient-start: rgba(23,183,183, $lucify-gradient-alpha);
$lucify-alpha-gradient-end: rgba(84,198,168, $lucify-gradient-alpha);


$lucify-gradient-start: #17b7b7;
$lucify-gradient-end: #54c6a8;

//$lucify-gradient-start: #17b7b7;
//$lucify-gradient-end: #54c6a8;

$lucify-dark-blue2: #3e3c44;
$lucify-dark-blue: #242c39;

$lucify-muted-blue: #828A9F;

$lucify-cyan: #18b7b7;


$lucify-green: #5fc472;
$lucify-purple: #be58b3;

$lucify-button-cyan: #17B7B7; // same as gradient start color
$lucify-hover-button-cyan: #54c6a8; // same as gradient end color


$lucify-index-blue: #232C39;

$lucify-gray-text-color: #5B5B65;

$lucify-very-dark-blue: #1A202B;

$lucify-dark-gray-text-color: $lucify-dark-gray;
$lucify-gray-background: $lucify-light-gray;


$lucify-gray-line-color: #c8cacc;


$lucify-dark-cyan: #296f6c;